{% extends 'feed/base.html' %}
{% block content %}
    <div class="row">

        <div class="col-md-4">
            <div class="thumbnail">
                {% include "feed/republic.html"%}
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                 {% include "feed/hindustantimes.html"%}
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                {% include "feed/ndtv.html"%}
            </div>
        </div>
    </div>
{% endblock %}


