<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Piro News</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        footer{
            background:#414141;
            text-height: 24px;
            color:white;
            font-weight: 700;

        }
        body { padding-top: 70px; }
    </style>
</head>
<body bgcolor="#E6E6FA">
<div class="container">

<nav class="container navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Piro News</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">News </a></li>
        <li><a href="#">Statistics</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="/action_page.php">
          <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
      </form>

    </div>
</nav>
    <div class="row">

        <div class="col-md-4">
            <h1><b>Republic TV</b></h1>
            {% for post in republic_posts %}
                <div class="thumbnail">
                    <h5><b><a href="{{post.href}}">{{  post.title}}</a></b></h5>
                        <h6 style="color:red;">{{ post.created_date }}</h6>
                    </div>

                {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if republic_posts.has_previous %}
                        <a href="?page={{ republic_posts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ republic_posts.number }} of {{ republic_posts.paginator.num_pages }}.
                    </span>

                    {% if republic_posts.has_next %}
                        <a href="?page={{ republic_posts.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <h1><b>Hindustan Times</b></h1>
                {% for post in indiatv_posts %}
                    <div class="thumbnail">
                        <h5><b><a href="{{post.href}}">{{  post.title}}</a></b></h5>
                        <h6 style="color:red;">{{ post.created_date}}</h6>
                         </div>
                {% endfor %}
                <div class="pagination">
                    <span class="step-links">
                        {% if indiatv_posts.has_previous %}
                            <a href="?page={{ indiatv_posts.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ indiatv_posts.number }} of {{ indiatv_posts.paginator.num_pages }}.
                        </span>

                        {% if indiatv_posts.has_next %}
                            <a href="?page={{ indiatv_posts.next_page_number }}">next</a>
                        {% endif %}
                        <br>
                    </span>
                </div>

        </div>
        <div class="col-md-4">
            <h1><b>NDTV </b></h1>
                {% for post in ndtv_posts %}
                    <div class="thumbnail">
                        <h5><b><a href="{{post.href}}">{{ post.title }}</a></b></h5>
                        <h6 style="color:red;">{{ post.created_date }}</h6>
                         </div>
                {% endfor %}
                <div class="pagination">
                <span class="step-links">
                    {% if ndtv_posts.has_previous %}
                        <a href="?page={{ ndtv_posts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ ndtv_posts.number }} of {{ ndtv_posts.paginator.num_pages }}.
                    </span>

                    {% if ndtv_posts.has_next %}
                        <a href="?page={{ ndtv_posts.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>

        </div>
    </div>


<footer>

        <div class="row">
            <div class="col-md-4">
                <ul><h4><b>Get to Know Us</b></h4>
                    <li><h5>About Us</h5></li>
                    <li><h5>Contact Us</h5></li>
                    <li><h5>Our Team</h5></li>
                    <li><h5>Career</h5></li>
                </ul>
            </div>
            <div class="col-md-4">
                    <ul><h4><b>Follow US</b></h4>
                    <li><h5>Facebook</h5></li>
                    <li><h5>Twitter</h5></li>
                    <li><h5>Instagram</h5></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul><h4><b>Useful Links</b></h4>
                    <li><h5>Privacy Policy</h5></li>
                    <li><h5>Help</h5></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <p style="text-align:center">©2018, Piro Technologies Pvt Ltd</p>
            </div>
            <div class="col-md-3">

            </div>
        </div>


</footer>

<br>

<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
</body>
</html>

