{% extends 'feed/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

    <div class="thumbnail-center">
                 <font size="4">
                     <p>Trending Tweets</p>
                 </font>
             </div>
        {% for t,u in tweets_urls %}
        <div id="tweet"><a href="{{ u }}"><p style="color:#1860c0;">{{ t }}</p></a></div>
        <div id="tweet_link_result"></div>
        <br>
        {% endfor %}

    </div>
    <div class="col-md-3"></div>
</div>
 {% endblock %}


